<section class="about-us" id="about-us">
    <div class="container about-us-container">
        <div class="about-us-item">
            <h2 class="about-title">YachtJet fleet is here to take you on the ultimate adventure</h2>
            <ul class="about-list">
                <li class="first-item">
                    From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect
                    blend
                    of luxury and
                    functionality.
                </li>
                <li class="second-item">
                    Take a look at our selection below and choose the yacht that matches your needs and preferences.No
                    matter which yacht
                    you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and
                    get
                    ready for an
                    unforgettable adventure on the high seas.
                </li>
            </ul>
        </div>
        <picture>
            <source media=(min-width:1440px)
                srcset="/img/about-us/desk-1440-x1.png 1x, /img/about-us/desk-1440-x2.png 2x">
            <source media=(min-width:1158px) srcset="/img/about-us/desk-1x.png 1x, /img/about-us/desk-2x.png 2x">
            <source media=(min-width:768px) srcset="/img/about-us/tab-x1.png 1x, /img/about-us/tab-x2.png 2x">
            <!-- <source media=(min-width:320px) srcset="/img/about-us/about-1x.png 1x, /img/about-us/about-2x.png 2x"> -->
            <img class="about-image" srcset="/img/about-us/about-x1.png 1x, /img/about-us/about-x2.png 2x"
                src="/img/about-us/about-1x.jpg" alt="yacht" width="335">
        </picture>
    </div>
</section>