<section class="advantages" id="advantages">
  <div class="conainer">
    <h2 class="advantages-title">Advantages</h2>
    <ol class="advantages-list">
      <li class="number">01</li>
      <li class="advantages-item">
        Swimming and water sports: try your hand at water skiing
      </li>
      <li class="number">02</li>
      <li class="advantages-item">Fishing: try to catch your own dinner</li>
      <li class="number">03</li>
      <li class="advantages-item">
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </li>
      <li class="number">04</li>
      <li class="advantages-item">
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </li>
    </ol>
  </div>
</section>
