<header class="header">
  <div class="header-wrapper">
    <div class="container header-container">
      <nav class="header-navigation">
        <a href="../index.html" class="header-logo">yachtjet</a>
        <ul class="nav-list list">
          <li class="nav-list-item">
            <a href="#about-us" class="nav-list-link">About</a>
          </li>
          <li class="nav-list-item">
            <a href="#our-yahts" class="nav-list-link">Yachts</a>
          </li>
          <li class="nav-list-item">
            <a href="#reviews" class="nav-list-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="social-media-list list">
        <li class="social-media-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-media-icon-list"
          >
            <svg class="icon icon-instagram" width="20" height="20">
              <use href="../img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-media-icon-list"
          >
            <svg class="icon icon-youtube" width="20" height="20">
              <use href="../img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-media-icon-list"
          >
            <svg class="icon icon-facebook" width="20" height="20">
              <use href="../img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="burger-btn" type="button">
        <svg class="icon icon-burger" width="28" height="28">
          <use href="../img/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
