<mob-menu class="mob-menu is-open">
  <div class="container mob-menu-container">
    <div class="logo-button-mob-menu">
      <a href="./index.html" class="logo-mob-menu">yachtjet</a>
      <button class="vector-btn" type="button">
        <svg class="icon icon-vector" width="16" height="16">
          <use href="./img/symbol-defs.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
  </div>
  <ul class="nav-list-mob-menu">
    <li class="nav-item nav-item-mob-menu-about">
      <a href="#about-us" class="nav-link-mob-menu">About</a>
    </li>
    <li class="nav-item nav-item-mob-menu-yachts">
      <a href="#our-yahts" class="nav-link-mob-menu">Yachts</a>
    </li>
    <li class="nav-item nav-item-mob-menu-reviews">
      <a href="#reviews" class="nav-link-mob-menu">Reviews</a>
    </li>
  </ul>
  <ul class="social-media-list-mob-menu">
    <li class="social-media-item-mob-menu">
      <a
        href="https://www.instagram.com/goitclub/"
        class="social-media-icon-list-mob-menu"
      >
        <svg class="icon icon-instagram" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-media-item-mob-menu">
      <a
        href="https://www.youtube.com/c/GoIT/"
        class="social-media-icon-list-mob-menu"
      >
        <svg class="icon icon-youtube" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="social-media-item-mob-menu">
      <a
        href="https://www.facebook.com/goITclub/"
        class="social-media-icon-list-mob-menu"
      >
        <svg class="icon icon-facebook" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</mob-menu>
