<section class="our-yachts">
  <h2 class="our-yachts-title">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <div class="container-our-yachts">
    <div class="containet-list">
      <ul class="our-yachts-list">
        <li class="our-yachts-item">
          <img class="our-yachts-img" src="" alt="our yachts" />
          <div class="our-yachts-item-info"></div>
        </li>
        <li class="our-yachts-item">
          <img class="our-yachts-img" src="" alt="our yachts" />
          <div class="our-yachts-item-info"></div>
        </li>
        <li class="our-yachts-item">
          <img class="our-yachts-img" src="" alt="our yachts" />
          <div class="our-yachts-item-info"></div>
        </li>
      </ul>
    </div>
    <button type="button" id="our-yahts" class="button-yacht-rental">
      Yacht rental
    </button>
  </div>
</section>
