<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="our-yachts">
        <h2 class="our-yachts-title">
          Choose your dream yacht and sail away into the sunset
        </h2>
        <div class="container-our-yachts">
          <ul class="our-yachts-list">
            <li class="our-yachts-item"><img src="" alt="our yachts" /></li>
            <li class="our-yachts-item"><img src="" alt="our yachts" /></li>
            <li class="our-yachts-item"><img src="" alt="our yachts" /></li>
          </ul>
          <button type="button">Yacht rental</button>
        </div>
      </section>
    </main>
  </body>
</html>
