<section class="our-yachts">
  <div class="container our-yachts-container-our">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="container-our-yachts">
      <div class="containet-list">
        <ul class="our-yachts-list">
          <li class="our-yachts-item">
            <picture>
              <source
                srcset="
                  /img/our-yachts/yachts-small-desk-1.jpg 1x,
                  /img/our-yachts/yachts-small-desk-2.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/our-yachts/yachts-small-table-1.jpg 1x,
                  /img/our-yachts/yachts-small-table-2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/our-yachts/yachts-small-mob-1.jpg 1x,
                  /img/our-yachts/yachts-small-mob-2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                srcset="
                  /img/our-yachts/yachts-small-desk-1.jpg 1x,
                  /img/our-yachts/yachts-small-desk-2.jpg 2x
                "
                class="our-yachts-img"
                src="/img/our-yachts/yachts-small-desk-1.jpg"
                alt="our yachts"
                width="345"
              />
            </picture>
            <div class="our-yachts-item-info">
              <div class="name-yachts">
                <ul>
                  <li class="name-yachts-name">ARROW</li>
                </ul>
                <ul>
                  <li class="name-yachts-luxury">LUXURY YAHTS</li>
                </ul>
              </div>
              <div class="our-yachts-container-icon">
                <svg width="313" height="2" class="our-yachts-icon">
                  <use href="./img/symbol-defs.svg#icon-vector"></use>
                </svg>
              </div>
              <div class="our-yachts-description">
                <ul class="our-yachts-description-name">
                  <li>LENGTH</li>
                  <li>BUILDER</li>
                  <li>BUILT</li>
                  <li>GUESTS</li>
                  <li>PRICE</li>
                </ul>
                <ul class="our-yachts-description-value">
                  <li>48m(155ft)</li>
                  <li>Admiral</li>
                  <li>2021</li>
                  <li>11 in 5 cabins</li>
                  <li>€33,500,000</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="our-yachts-item yachts-large">
            <picture>
              <source
                srcset="
                  /img/our-yachts/yachts-large-desk-1.jpg 1x,
                  /img/our-yachts/yachts-large-desk-2.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/our-yachts/yachts-large-table-1.jpg 1x,
                  /img/our-yachts/yachts-large-table-2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                srcset="
                  /img/our-yachts/yachts-large-desk-1.jpg 1x,
                  /img/our-yachts/yachts-large-desk-2.jpg 2x
                "
                class="our-yachts-img"
                src="/img/our-yachts/yachts-large-desk-1.jpg"
                alt="our yachts"
                width="345"
              />
            </picture>
            <div class="our-yachts-item-info">
              <div class="name-yachts">
                <ul>
                  <li class="name-yachts-name">
                    BENETTI OASIS 40<span>M B</span>...<!-- O122 -->
                  </li>
                </ul>
                <ul>
                  <li class="name-yachts-luxury">LUXURY YAHTS</li>
                </ul>
              </div>
              <div class="our-yachts-container-icon">
                <svg width="313" height="2" class="our-yachts-icon">
                  <use href="./img/symbol-defs.svg#icon-vector"></use>
                </svg>
              </div>
              <div class="our-yachts-description">
                <ul class="our-yachts-description-name">
                  <li>LENGTH</li>
                  <li>SHIPYARD</li>
                  <li>BUILT</li>
                  <li>GUESTS</li>
                  <li>PRICE</li>
                </ul>
                <ul class="our-yachts-description-value">
                  <li>41m (133ft)</li>
                  <li>Benetti</li>
                  <li>2025</li>
                  <li>10 in 5 cabins</li>
                  <li>€23,210,000</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="our-yachts-item yachts-big">
            <picture>
              <source
                srcset="
                  /img/our-yachts/yachts-big-desk-1.jpg 1x,
                  /img/our-yachts/yachts-big-desk-2.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                srcset="
                  /img/our-yachts/yachts-big-desk-1.jpg 1x,
                  /img/our-yachts/yachts-big-desk-2.jpg 2x
                "
                class="our-yachts-img"
                src="/img/our-yachts/yachts-big-desk-1.jpg"
                alt="our yachts"
                width="345"
              />
            </picture>
            <div class="our-yachts-item-info">
              <div class="name-yachts">
                <ul>
                  <li class="name-yachts-name">BELLE ANNA</li>
                </ul>
                <ul>
                  <li class="name-yachts-luxury">LUXURY YAHTS</li>
                </ul>
              </div>
              <div class="our-yachts-container-icon">
                <svg width="313" height="2" class="our-yachts-icon">
                  <use href="../img/symbol-defs.svg#icon-vector"></use>
                </svg>
              </div>
              <div class="our-yachts-description">
                <ul class="our-yachts-description-name">
                  <li>LENGTH</li>
                  <li>SHIPYARD</li>
                  <li>BUILT</li>
                  <li>GUESTS</li>
                  <li>PRICE</li>
                </ul>
                <ul class="our-yachts-description-value">
                  <li>50m(155ft)</li>
                  <li>ISA</li>
                  <li>2012</li>
                  <li>12 in 6 cabins</li>
                  <li>€21,000,000</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="button-yachts">
        <a href="#rent-yaht" class="button-yachts-rental">Yacht rental </a>
      </div>
    </div>
  </div>
</section>
