<section id="reviews" class="reviews">
  <div class="container">
    <div class="reviews-team">
      <h1 class="reviews-title">
        YachtJet take pride in providing the best possible service and
        experience to our customers
      </h1>
      <h2 class="reviews-item">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </h2>
    </div>
    <div class="review-card"></div>
    <ul class="review-card-list">
      <li class="review-card-item john-card">
        <div class="foto-list">
          <img
            srcset="/img/reviews/John-1x.jpg 1x, /img/reviews/John-2x.jpg 2x"
            class="client-foto"
            src="/img/reviews/John-1x.jpg"
            alt="Photo review John"
            width="56"
            height="56"
          />
        </div>
        <h3 class="name-client">John Wax</h3>
        <p class="review-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="review-card-item victoria-card">
        <div class="foto-list">
          <img
            srcset="
              /img/reviews/Victoria-1x.jpg 1x,
              /img/reviews/Victoria-2x.jpg 2x
            "
            class="client-foto"
            src="/img/reviews/Victoria-1x.jpg 1x, "
            alt="Photo review Victoria"
            width="56"
            height="56"
          />
        </div>
        <h3 class="name-client">Victoria Romashenko</h3>
        <p class="review-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="review-card-item ihor-card">
        <div class="foto-list">
          <img
            srcset="/img/reviews/Ihor-1x.jpg 1x, /img/reviews/Ihor-2x.jpg 2x"
            class="client-foto"
            src="/img/reviews/Ihor-1x.jpg"
            alt="Photo review Ihor"
            width="56"
            height="56"
          />
        </div>
        <h3 class="name-client">Ihor Trachuk</h3>
        <p class="review-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
