ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.advantages {
   padding-top: 40px;
   padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
   .advantages {
      padding-top: 75px;
      padding-bottom: 75px;
   }
}

/**-----/ Title /------*/
.advantages-title {
   display: none;
}

/**------/ List block /------*/
.list-block {
   background: #1b414b;
   border-radius: 24px;
   min-width: 280px;
   min-height: 642px;
   padding: 80px 20px;
}
@media only screen and (min-width: 280px) and (max-width: 767.98px) {
   .list-block {
      margin-bottom: 20px;
   }
}
@media only screen and (min-width: 768px) {
   .list-block {
      width: 704px;
      min-height: 424px;
      padding: 90px 32px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1279.98px) {
   .list-block {
      margin-bottom: 32px;
   }
}
@media only screen and (min-width: 1280px) {
   .list-block {
      float: left;
      width: 716px;
      padding: 90px 50px;
      margin-right: 32px;
   }
}
@media only screen and (min-width: 1440px) {
   .list-block {
      width: 768px;
   }
}

/**------/ Ol list /------*/

.advantages-list {
   display: flex;
   gap: 40px;
   list-style-type: none;
   padding: 0;
   margin: 0;
   counter-reset: counter;
}
@media only screen and (max-width: 767.98px) {
   .advantages-list {
      flex-direction: column;
   }
}
@media only screen and (min-width: 768px) {
   .advantages-list {
      flex-wrap: wrap;
      gap: 44px 32px;
   }
}
.advantages-item {
   counter-increment: counter;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.02em;
}
.advantages-item::before {
   content: counter(counter, decimal-leading-zero);
   display: block;
   font-weight: 500;
   font-size: 28px;
   line-height: 1;
   letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
   .advantages-item::before {
      font-size: 32px;
   }
}
@media only screen and (min-width: 768px) {
   .advantages-item {
      min-width: 304px;
      width: calc((100% - 32px) / 2);
   }
}
@media only screen and (min-width: 1280px) {
   .advantages-item {
      min-width: 292px;
   }
}
@media only screen and (min-width: 1440px) {
   .advantages-item {
      min-width: 318px;
   }
}

/**-----/ Item block /------*/

.advantages-item-text {
   display: block;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16667;
   letter-spacing: 0.02em;
}
.advantages-item-text::before {
   content: "";
   display: block;
   border-radius: 18px;
   height: 2px;
   background: rgba(251, 251, 251, 0.1);
   margin-top: 18px;
   margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
   .advantages-item-text {
      font-size: 13px;
      line-height: 1.15;
   }
}

/**-----/ Images /------*/
.advantages-img {
   border-radius: 24px;
   min-width: 280px;
   height: 424px;
}

@media only screen and (min-width: 1280px) {
   .advantages-img {
      width: 432px;
   }
}
@media only screen and (min-width: 1440px) {
   .advantages-img {
      width: 540px;
   }
}
