/* mobile header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 1000;
  /* max-width: 335px; */
  /* min-width: 320px; */
  height: 42px;
  padding: 12px 20px 13px 20px;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
  margin: 0 auto;
  max-width: 320px;
}

.header-container {
}

@media screen and (min-width: 375px) {
}

.header-logo {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding-top: 12px;
  padding-bottom: 13px;
}
.nav-list,
.social-media-list {
  display: none;
}

.burger-btn {
  display: flex;
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  right: 20px;
  line-height: 0;
}
.icon-burger {
  stroke: #1b414b;
}

@media screen and (max-width: 767px) {
  .icon-burger {
    stroke: #1b414b;
  }
}

/*  tablet */
@media screen and (min-width: 768px) {
  .header-container {
    max-width: 704px;
    width: 100%;
    height: 48px;
    top: 32px;
    left: 32px;
    right: 32px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 4px;
  }

  .nav-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 91px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(27, 65, 75, 0.5);
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    transition: background-color 250ms linear;
    padding: 4px 0;
  }

  .nav-list-link:focus,
  .nav-list-link:hover {
    background: #1b414b;
  }

  .header-logo {
    font-size: 20px;
    padding-bottom: 12px;
    margin-right: 109px;
  }

  .social-media-list {
    display: flex;
    gap: 8px;
  }

  .social-media-item {
    width: 24px;
    height: 24px;
  }

  .burger-btn {
    display: none;
  }

  .social-media-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #1b414b;
    transition: fill 250ms linear;
  }
  .social-media-icon-list:hover,
  .social-media-icon-list:focus {
    fill: #062730;
  }
}
/* desctop 1280 */

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1080px;
    width: 100%;
    left: 100px;
    right: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-logo {
    margin-right: 296px;
  }
}
/* desctop 1440 */

@media screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 375px;
  }
  .header-container {
    max-width: 1240px;
    width: 100%;
  }
}
