.our-yachts {
}
.our-yachts-title {
}
.container-our-yachts {
}
.containet-list {
}
.our-yachts-list {
  border-radius: 24px;
  width: 392px;
  height: 508px;
}
.our-yachts-item {
}
.our-yachts-img {
}
.our-yachts-item-info {
}
.button-yacht-rental {
}
