.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
}

.reviews-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  margin-bottom: 40px;
}

.review-card-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.review-card-item {
  border-radius: 24px;
  padding: 32px 8px;
  background: #fbfbfb;
  max-width: 335px;
  height: 282px;
  display: block;
  justify-content: center;
}

.foto-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.victoria-card,
.ihor-card {
  display: none;
}

.client-foto {
  border-radius: 72px;
  width: 56px;
  height: 56px;
}

.name-client {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-top: 24px;
  padding-bottom: 8px;
}

.review-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .reviews {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .reviews-title {
    font-size: 48px;
  }

  .reviews-item {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 75px;
    margin-left: 66px;
    margin-right: 66px;
  }

  .victoria-card {
    display: block;
  }

  .review-card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
    justify-content: center;
    text-align: center;
  }

  .review-card-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .reviews-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 25px;
    max-width: 854px;
  }

  .ihor-card {
    display: block;
  }

  .review-card-list {
    display: flex;
    justify-content: space-between;
  }

  .review-card-item {
    border-radius: 24px;
    padding: 32px 28px;
    max-width: 1180px;
    background: #fbfbfb;
    flex-basis: calc((100% - 54px) / 3);
  }

  .reviews-team {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-right: 163px;
    padding-left: 163px;
  }

  .reviews-item {
    margin-bottom: 75px;
    margin-left: 141px;
    margin-right: 141px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  .review-card-item {
    max-width: 1240px;
    flex-basis: calc((100% - 64px) / 3);
  }

  .review-card-list {
    width: 1240px;
    margin: 0 auto;
  }
}
